*{
  font-family: 'Poppins';
}


body{ 
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  font-family:'Poppins';
  background-color: rgb(72, 76, 75);
  color:antiquewhite;
  

}

.container{
  margin-top:20px;
  border-radius: 20px;
  background-color: rgb(14, 149, 162);
  display:flex;
  height:660px;
  width: 330px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player{
  text-align: center;
}

.buttonArea{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:14px;
  margin-left:10px;
  
}

.playerButton{
  border-radius: 5px;
  background-color: rgb(241, 175, 96);
  font-size:25px;
  /* added cursor: pointer */
  cursor: pointer;
}

.computer{
  text-align: center;
  display: inline-block;
}

#display{ 
  border-radius: 5px;
  font-size: 25px;
  width:180px;
  background-color: rgb(112, 112, 112);
}

.gameStatus{
  text-align: center;
  display:inline-block
}

#start{
  height:40px;
  width:120px;
  background-color: green;
  border-radius: 6px;
  font-size: 20px;
  color:white;
  cursor: pointer;
}

/* temporary classes for hover and selection effects */
.hover{
  background-color: rgb(187, 255, 0);
}

.selected{
  background-color: rgb(0, 255, 0);
  font-weight: bold;
}